.App {
  padding: 30px;
}

/* GLOBAL FRAME*/
.frame-body {
  display: flex;
  justify-content: space-between;
  
}

.frame-body > div {
  margin: 10px;
}

.frame-app, .frame-app-helper {
  display: flex;
  width: 50%;
}

.frame-app-helper {
  flex-wrap: wrap;
}

.frame-app{
  background-color: rgb(103, 169, 169);
  
}

.frame-app-helper{
  background-color: rgb(183, 113, 229);
}

.frame-app-helper-content{
  white-space: pre-wrap;
}

.frame-app > div, .frame-app-helper > div {
  margin-right: 50px;
}


/* styles*/

.error {
  border: red 1px solid;
}

.error-message{
  color: brown;
}

.active-filter {
  background-color: rgb(27, 158, 158);
}

.active-filter-font {
  color: white;
}
.is-done {
  opacity: 0.5;
}

.collapsible {
  cursor: pointer;
}

.content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.open {
  overflow: hidden;
}
